body {
  font-family: "Outfit", sans-serif;
  background-color: #0d192b;
}

h1 {
  margin: 0;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.page-container {
  min-height: 100vh;
  position: relative;
  display: grid;
}

.content-wrap {
  place-self: center;
  display: grid;
  margin: 1rem 1rem 3rem;
}

.card {
  background-color: #14253d;
  max-width: 20.25rem;
  place-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 0.5rem 0.3rem 1rem #0c1627, 0 1rem 0.7rem 2.5rem #0e1b2f;
}

.equlibrium-holder {
  cursor: pointer;
  border-radius: 6px;
  margin: 1.6rem;
  height: 17.1rem;
  position: relative;
  overflow: hidden;
  display: grid;
}

.equlibrium-holder:hover .equilibrium-cover {
  transition: ease-in 0.2s;
  opacity: 30%;
}

.equlibrium-holder:hover .view-icon {
  transition: ease-in 0.2s;
  opacity: 100%;
}

.equilibrium-img {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.equilibrium-cover {
  transition: ease-in 0.2s;
  width: 100%;
  height: 100%;
  background-color: #00fff7;
  opacity: 0%;
  position: absolute;
  top: 0;
}

.view-icon {
  transition: ease-in 0.2s;
  opacity: 0%;
  place-self: center;
  z-index: 1;
}

.title {
  cursor: pointer;
  color: white;
  font-size: 1.41rem;
  font-weight: 400;
  margin-left: 1.6rem;
  margin-top: 0.22rem;
}

.title:hover {
  transition: ease-in 0.2s;
  color: #00fff7;
}

.description-text {
  color: #8bacda;
  margin: 0.85rem 1.57rem 0 1.57rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.63rem;
}

.details-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0rem 1.57rem;
}

.icon-ethereum {
  max-height: 1.125rem;
}

.price {
  margin-left: 0.45rem;
  margin-right: auto;
  color: #00fff7;
  font-size: 0.95rem;
}

.time-left {
  color: #8bacda;
  font-size: 0.92rem;
  margin-left: 0.45rem;
}

.line {
  height: 1px;
  background-color: #2f415b;
  margin: 0.11rem 1.57rem;
}

.creator-holder {
  display: flex;
  align-items: center;
  margin: 0.67rem 1.57rem 1.12rem;
}

.creator-image {
  height: 1.9rem;
  border-radius: 50%;
  box-shadow: 0 0 3px white;
}

.creator-text {
  font-size: 0.9rem;
  margin-left: 1.12rem;
  color: #8bacda;
}

.creator-link {
  color: white;
  text-decoration: none;
  margin-left: 0.225rem;
  font-weight: 200;
}

.creator-link:hover {
  transition: ease-in 0.2s;
  color: #00fff7;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.25rem;
  font-size: 11px;
  text-align: center;
  margin-top: 2.25rem;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 600px) {
  .card {
    max-width: 21.7rem;
  }

  .equlibrium-holder {
    height: 18.9rem;
  }

  .title {
    margin-top: 0rem;
  }

  .description-text {
    font-size: 1.125rem;
    margin-top: 1rem;
  }

  .details-holder {
    margin-top: 0.45rem;
  }

  .price, .time-left {
    font-size: 1rem;
  }

  .line {
    margin-top: 0.45rem;
  }

  .creator-text {
    font-size: 0.95rem;
  }
}

/*# sourceMappingURL=styles.css.map */
